#statusTable{
	width:70%;
	margin:30px auto;
}
.search{
	width:100%;
	display:grid;
	grid-template-columns:1fr minmax(70px, auto);
}
#waiting, #progress, #complete, #no{
	text-align:center;
	height: 35px;
	background-color: lightgray;
}
#paging{ 
	text-align: center;
	font-size: 20px;
}
#paging ul{
	justify-content:center;
}
.input-group{
	grid-column:2/3;
}
.page-item{
	padding:0;
}
#BtnBox{
	width:100%;
	display:grid;
	grid-template-columns:9fr minmax(30px, auto);
}
#writeBtn{
	grid-column:2/3;
}
#myMust{
	grid-column: -4/-3;
	width: 130px;
}
#myToDo{
	width: 130px;
	margin-left: 20px;
}
#approvalContent{
	max-width: 100%;
	width:100%;
	margin:0px auto;
}
#documentTable{
	height: 625px;
	text-align: center;
	max-height: 590px;
}
#count{
	text-align:center;
	font-size:20px;
}
#myWriteDocument{
	float: right;
}