@charset "EUC-KR";

html {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	background-color: white
}

a.comment-indicator:hover+div.comment {
	background: #ffd;
	position: absolute;
	display: block;
	border: 1px solid black;
	padding: 0.5em
}

a.comment-indicator {
	background: red;
	display: inline-block;
	border: 1px solid black;
	width: 0.5em;
	height: 0.5em
}

div.comment {
	display: none
}

table {
	border-collapse: collapse;
	page-break-after: always
}

.gridlines td {
	border: 1px dotted black
}

.gridlines th {
	border: 1px dotted black
}

.b {
	text-align: center
}

.e {
	text-align: center
}

.f {
	text-align: right
}

.inlineStr {
	text-align: left
}

.n {
	text-align: right
}

.s {
	text-align: left
}

td.style0 {
	vertical-align: middle;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '돋움';
	font-size: 11pt;
	background-color: white
}

th.style0 {
	vertical-align: middle;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '돋움';
	font-size: 11pt;
	background-color: white
}

td.style1 {
	vertical-align: bottom;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style1 {
	vertical-align: bottom;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style2 {
	vertical-align: middle;
	text-align: center;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style2 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style3 {
	vertical-align: middle;
	text-align:center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style3 {
	vertical-align: middle;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style4 {
	vertical-align: middle;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style4 {
	vertical-align: middle;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style5 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style5 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style6 {
	vertical-align: top;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style6 {
	vertical-align: top;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style7 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '돋움';
	font-size: 11pt;
	background-color: white
}

th.style7 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '돋움';
	font-size: 11pt;
	background-color: white
}

td.style8 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style8 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style9 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style9 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style10 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style10 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style11 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style11 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style12 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 2px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style12 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 2px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style13 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 2px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style13 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 2px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style14 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 2px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style14 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 2px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style15 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style15 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style16 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style16 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style17 {
	vertical-align: top;
	text-align: left;
	padding-left: 0px;
	border-bottom: 2px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style17 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style18 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style18 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style19 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style19 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style20 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style20 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style21 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style21 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style22 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style22 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style23 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style23 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style24 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 2px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style24 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 2px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style25 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 2px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style25 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 2px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style26 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 2px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style26 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 2px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style27 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style27 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style28 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style28 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style29 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style29 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style30 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style30 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style31 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style31 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style32 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 2px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

th.style32 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	font-weight: bold;
	color: #000000;
	font-family: '굴림체';
	font-size: 16pt;
	background-color: white
}

td.style33 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style33 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style34 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style34 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style35 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style35 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style36 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style36 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style37 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style37 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style38 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style38 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style39 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style39 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style40 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style40 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style41 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style41 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style42 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style42 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style43 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: none #000000;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style43 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: none #000000;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style44 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style44 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style45 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style45 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style46 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style46 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style47 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style47 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style48 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style48 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style49 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style49 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style50 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style50 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style51 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style51 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style52 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style52 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style53 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style53 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style54 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style54 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style55 {
	vertical-align : top;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style55 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style56 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style56 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style57 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style57 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style58 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style58 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style59 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style59 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style60 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style60 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 2px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style61 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style61 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style62 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style62 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

td.style63 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

th.style63 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: 2px solid #000000 !important;
	color: #000000;
	font-family: '굴림체';
	font-size: 10pt;
	background-color: white
}

table.sheet0 col.col0 {
	width: 8.13333324pt
}

table.sheet0 col.col1 {
	width: 75.91111024pt
}

table.sheet0 col.col2 {
	width: 46.76666613pt
}

table.sheet0 col.col3 {
	width: 46.76666613pt
}

table.sheet0 col.col4 {
	width: 20.3333331pt
}

table.sheet0 col.col5 {
	width: 10.84444432pt
}

table.sheet0 col.col6 {
	width: 29.82222188pt
}

table.sheet0 col.col7 {
	width: 12.87777763pt
}

table.sheet0 col.col8 {
	width: 29.82222188pt
}

table.sheet0 col.col9 {
	width: 19.65555533pt
}

table.sheet0 col.col10 {
	width: 3.38888885pt
}

table.sheet0 col.col11 {
	width: 19.65555533pt
}

table.sheet0 col.col12 {
	width: 27.1111108pt
}

table.sheet0 col.col13 {
	width: 16.94444425pt
}

table.sheet0 col.col14 {
	width: 44.05555505pt
}

table.sheet0 tr {
	height: 12pt
}

table.sheet0 tr.row0 {
	height: 20.25pt
}

table.sheet0 tr.row1 {
	height: 12pt
}

table.sheet0 tr.row2 {
	height: 12pt
}

table.sheet0 tr.row3 {
	height: 12pt
}

table.sheet0 tr.row4 {
	height: 9.75pt
}

table.sheet0 tr.row5 {
	height: 27.75pt
}

table.sheet0 tr.row6 {
	height: 27.95pt
}

table.sheet0 tr.row7 {
	height: 27.95pt
}

table.sheet0 tr.row8 {
	height: 27.95pt
}

table.sheet0 tr.row9 {
	height: 15pt
}

table.sheet0 tr.row10 {
	height: 15pt
}

table.sheet0 tr.row11 {
	height: 29.25pt
}

table.sheet0 tr.row13 {
	height: 22.5pt
}

table.sheet0 tr.row14 {
	height: 17.25pt
}


.sheet0{
	margin:0px 6px auto;
}
#e_textTitle{
	width: 99.5%;
	height: 25px;
	border: none;
	resize: none;
	font-size: 15px;
	margin-top:5px;
}
#e_textContent{
	width: 99.5%;
	height: 400px;
	border: none;
	resize: none;
	font-size: 15px;
	margin-top:5px;
}
div:not(#documentBtn,#ui-datepicker-div,.ui-datepicker-header,.ui-datepicker-title){
	margin-left: 5px;
	margin-top: 15px;
	width: 647px;
	text-align: right;
}
#documentBtn{
	text-align: right;
    width: 639px;
    margin: 10px 2px auto;
	
}
#e_rule, #e_draftDate, #e_startDay, #e_con, #e_member, #e_buseo, #e_send{
	width: 98%;
	height: 28px;
	border: none;
	font-size: 15px;
}
#e_documentNum{ 
	width:0px;
	height: 28px;
	border: none;
	font-size: 15px;
	text-align: center;
}
#charge, #teamLeader, #departmentHead, #sectionHead, #leader{
	width: 65px; 
	height:50px;
	border:none;
	text-align: center;
}
.btngroup{
	margin-left:1px;
}
.target {
    -ms-overflow-style: none;
    scrollbar-width: none;
   
}
.target::-webkit-scrollbar {
    display: none; 
}