<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.adminMapper">
	<insert id="insertAdmin" parameterType="tobe.project.dto.MemberDTO" useGeneratedKeys="true" keyProperty="tidx">
		<selectKey keyProperty="tidx" resultType="int" order="BEFORE">
			SELECT AUTO_INCREMENT FROM INFORMATION_SCHEMA.TABLES
			WHERE TABLE_SCHEMA = 'EZEN20210719_A' AND TABLE_NAME = 'AFPS_MEMBER'
		</selectKey>
		INSERT INTO AFPS_MEMBER
		(T_ID,T_PWD,T_EMAIL,T_ADDR_ZIPCODE,T_ADDR_GENERAL,T_ADDR_DETAIL,T_PHONE,T_NAME,T_BIRTH,T_POSITION,T_DEPARTMENT,T_GRADE,T_JOIN_DATE)
		VALUES(#{t_id},#{t_pwd},'tobe202105@gmail.com',#{t_addr_zipcode},#{t_addr_general},#{t_addr_detail},#{t_phone},
			'admin','admin','admin','admin','A',NOW())
	</insert>
	<select id="adminCheck" resultType="int">
		SELECT COUNT(*) FROM AFPS_MEMBER WHERE T_GRADE = 'A'
	</select>
	<select id="selectAllMember" resultType="memberVO">
 		SELECT * FROM AFPS_MEMBER WHERE DELYN = 'N' ORDER BY TIDX DESC
 	</select>
 	<select id="selectOneId" resultType="string">
 		SELECT T_ID FROM AFPS_MEMBER WHERE TIDX = (SELECT MAX(TIDX) FROM AFPS_MEMBER)
 	</select>
	<insert id="addMember" parameterType="tobe.project.dto.MemberVO" useGeneratedKeys="true" keyProperty="tidx">
		<selectKey keyProperty="tidx" resultType="int" order="BEFORE">
			SELECT AUTO_INCREMENT FROM INFORMATION_SCHEMA.TABLES
			WHERE TABLE_SCHEMA = 'EZEN20210719_A' AND TABLE_NAME = 'AFPS_MEMBER'
		</selectKey> 
		INSERT INTO AFPS_MEMBER
		(T_ID,T_PWD,T_EMAIL,T_ADDR_ZIPCODE,T_ADDR_GENERAL,T_ADDR_DETAIL,T_PHONE,T_NAME,T_BIRTH,T_POSITION,T_DEPARTMENT,T_JOIN_DATE)
		VALUES(#{t_id},#{t_pwd},#{t_email},#{t_addr_zipcode},#{t_addr_general},#{t_addr_detail},#{t_phone},
			#{t_name},#{t_birth},#{t_position},#{t_department},NOW())
	</insert>
	<update id="deleteMember" parameterType="memberVO">
		UPDATE AFPS_MEMBER SET DELYN = 'Y' WHERE TIDX = #{tidx}	
	</update>
	<select id="selectOneMember" resultType="memberVO">
    	SELECT * FROM AFPS_MEMBER WHERE TIDX = #{tidx}
    </select>
    <update id="modifyName" parameterType="memberVO">
    	UPDATE AFPS_MEMBER SET T_NAME = #{t_name} WHERE TIDX = #{tidx}
    </update>
    <update id="modifyPosition" parameterType="memberVO">
    	UPDATE AFPS_MEMBER SET T_POSITION = #{t_position} WHERE TIDX = #{tidx}
    </update>
    <update id="modifyDepartment" parameterType="memberVO">
    	UPDATE AFPS_MEMBER SET T_DEPARTMENT = #{t_department} WHERE TIDX = #{tidx}
    </update>
    <select id="totalCountMember" parameterType="hashmap" resultType="int">
    	SELECT COUNT(*) AS CNT
    	FROM AFPS_MEMBER 
    	WHERE DELYN = 'N' AND TIDX > 0
    	AND T_NAME LIKE CONCAT('%',#{keyword},'%')
    </select>
    <!-- fild start -->
    <insert id="addFile" parameterType="hashMap">
    	INSERT INTO FILE_INFO(
    		TIDX,
    		F_TYPE,
    		F_ORG_FILE_NAME,
    		F_STORED_FILE_NAME,
    		F_FILE_SIZE
    	) values(
			#{tidx},
			#{F_TYPE},
			#{F_ORG_FILE_NAME},
			#{F_STORED_FILE_NAME},
			#{F_FILE_SIZE}
    	)
    </insert>
    <!-- 첨부파일 조회 -->
    <select id="selectOneFile" resultType="fileVO">
    	SELECT * FROM FILE_INFO
    	WHERE TIDX = #{tidx}
    	AND F_TYPE = 'profile'
    	AND DELYN = 'N'
    </select>
    <!-- file end -->
    <select id="searchMemberList" resultType="memberVO">
    		<!-- SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY TIDX DESC)NUM,
    		A.* FROM AFPS_MEMBER A  WHERE 1=1
    		<include refid="search"/>
    		ORDER BY TIDX DESC)
    		WHERE NUM BETWEEN #{rowStart} AND #{rowEnd} -->
    		SELECT AFPS.* FROM(SELECT A.*,@ROW_NUM := @ROW_NUM+1 AS NUM 
    		FROM AFPS_MEMBER AS A, (SELECT @ROW_NUM := 1) AS B
    		WHERE 1=1
    		<include refid="search"/>
    		ORDER BY A.TIDX DESC) AFPS LIMIT #{pageStart},#{perPageNum}
    </select>
    <select id="totalCountsearchMember" resultType="int">
    	<![CDATA[
    		SELECT COUNT(TIDX)
    		FROM AFPS_MEMBER AS A
    		WHERE A.TIDX > 0
    	]]>
    	<include refid="search"/>
    </select>
    <sql id="search">
    	<if test="searchType != null">
    		<if test="searchType == 'u'.toString()">
    			AND A.T_NAME LIKE CONCAT('%',#{keyword},'%')
    		</if>
 	    	<if test="searchType == 'd'.toString()">
    			AND A.T_DEPARTMENT LIKE CONCAT('%',#{keyword},'%')
    		</if>
    		<if test="searchType == 'p'.toString()">
    			AND A.T_POSITION LIKE CONCAT('%',#{keyword},'%')
    		</if>
    		
    	</if>
    </sql>
    <select id="selectLastPk" resultType="int">
    	SELECT MAX(TIDX) FROM AFPS_MEMBER ORDER BY TIDX DESC
    </select>
</mapper>