<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="tobe.project.mappers.approvalMapper">
	<select id="selectOneMember" parameterType="MemberVO" resultType="MemberVO">
 	  	select *
 		from afps_member
 		where tidx = #{tidx}
    </select>
    <select id="selectOneMemberId" parameterType="MemberVO" resultType="MemberVO">
 	  	select *
 		from afps_member
 		where t_id = #{t_id}
    </select>
    
 	<insert id="writeApprovalDocument" parameterType="ApprovalDTO" keyProperty="eidx">
 		INSERT INTO 
 			electronic_approval(E_TYPE, E_DRAFTDATE, E_STARTDAY, E_ENDDAY, E_CON, E_TEXTTITLE, E_TEXTCONTENT, E_STATUS, TIDX)
 		VALUES
 			(#{e_type}, #{e_draftDate}, #{e_startDay}, #{e_endDay}, #{e_con}, #{e_textTitle}, #{e_textContent}, #{e_status}, #{tidx})
 	</insert>
 	
 	<select id="selectOneApprovalDocumentContents" resultType="ApprovalDTO" parameterType="ApprovalDTO">
 		SELECT
  			 @rownum:=@rownum+1 rnum, EIDX, E_TYPE, E_DRAFTDATE, E_STARTDAY, E_ENDDAY, E_CON, E_TEXTTITLE, E_TEXTCONTENT, E_STATUS,
 			 TIDX, E_APPROVALNOYN, E_APPROVALNOPERSON, E_REASON, T_NAME, T_ID, T_DEPARTMENT, T_POSITION, TEAMLEADER, DEPARTMENTHEAD, SECTIONHEAD, LEADER, STATUS, DELYN
 		from (
 				select (SELECT @ROWNUM := 0) R, A.*, B.T_NAME, T_ID, T_DEPARTMENT, T_POSITION,C.TEAMLEADER, DEPARTMENTHEAD, SECTIONHEAD, LEADER, STATUS
 				FROM ELECTRONIC_APPROVAL A left join AFPS_MEMBER B ON A.TIDX = B.TIDX LEFT JOIN APPROVAL_LINE C on A.EIDX = C.EIDX 
 					WHERE A.DELYN = 'N')a
 		WHERE
 			eidx = #{eidx}
 	</select>
 	
 	<update id="deleteApprovalDocument" parameterType="ApprovalDTO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			DELYN = 'Y'
 		where
 			eidx = #{eidx}
 	</update>
 	<update id="modifyApprovalDocument" parameterType="ApprovalDTO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			E_TYPE = #{e_type}, E_DRAFTDATE = #{e_draftDate}, E_STARTDAY = #{e_startDay}, E_ENDDAY =  #{e_endDay},
 			E_CON = #{e_con}, E_TEXTTITLE =  #{e_textTitle}, E_TEXTCONTENT = #{e_textContent}
 		where
 			eidx = #{eidx} 			     
 	</update>
 	<update id="modifyApprovalDocumentAgain" parameterType="ApprovalDTO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			E_TYPE = #{e_type}, E_DRAFTDATE = #{e_draftDate}, E_STARTDAY = #{e_startDay}, E_ENDDAY =  #{e_endDay},
 			E_CON = #{e_con},E_TEXTTITLE =  #{e_textTitle}, E_TEXTCONTENT = #{e_textContent}, E_STATUS = '결재대기', E_APPROVALNOYN = 'N' , E_APPROVALNOPERSON = '' , E_REASON = ''
 		where
 			eidx = #{eidx} 			     
 	</update>
 	
 	<!-- 결재상태 업데이트 -->
 	<update id="modifyApprovalStatusProgress" parameterType="ApprovalDTO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			E_STATUS = '결재진행'
 		where
 			eidx = #{eidx} 			     
 	</update>
 	<update id="modifyApprovalStatusOk">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			E_STATUS = '결재완료'
 		where
 			eidx = #{eidx} 			     
 	</update>
 	<update id="modifyApprovalStatusNo" parameterType="ApprovalDTO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			E_STATUS = '결재반려', E_APPROVALNOYN = 'Y' , E_APPROVALNOPERSON = #{e_approvalNoPerson},  E_REASON = #{e_reason}
 		where
 			eidx = #{eidx} 			     
 	</update>
    
    
    <!-- 각각 게시글 개수 -->
    <select id="totalCountWaiting" parameterType="ApprovalDTO" resultType="int">
    	select count(eidx) from ELECTRONIC_APPROVAL
 			where eidx > 0 and delyn = 'N' and e_status = '결재대기'
    </select> 
    <select id="totalCountProgress" parameterType="ApprovalDTO" resultType="int">
    	select count(eidx) from ELECTRONIC_APPROVAL
 			where eidx > 0 and delyn = 'N' and e_status = '결재진행'
    </select>
    <select id="totalCountComplete" parameterType="ApprovalDTO" resultType="int">
    	select count(eidx) from ELECTRONIC_APPROVAL
 			where eidx > 0 and delyn = 'N' and e_status = '결재완료'
    </select>
    <select id="totalCountNo" parameterType="ApprovalDTO" resultType="int">
    	select count(eidx) from ELECTRONIC_APPROVAL
 			where eidx > 0 and delyn = 'N' and e_status = '결재반려'
    </select>
    
 	<!-- 총 게시글 개수 -->
 	<select id="totalCountApprovalDocument" resultType="int">
 	select count(eidx) as cnt from (
 				select A.*,B.T_NAME, B.T_ID, B.T_DEPARTMENT, B.T_POSITION, C.TEAMLEADER, C.SECTIONHEAD, C.DEPARTMENTHEAD, C.LEADER, C.STATUS
 					FROM ELECTRONIC_APPROVAL A left join AFPS_MEMBER B ON A.TIDX = B.TIDX LEFT JOIN APPROVAL_LINE C on A.EIDX = C.EIDX
 					where 1=1  <include refid="searchWord"/> <include refid="search"/>
 							)a where eidx > 0 and delyn = 'N' 
 	</select>
 	
 	<!-- 페이징 -->
 	<select id="selectAllApprovalDocumentList" resultType="ApprovalDTO" parameterType="ApprovalDTO">
 		 select
 		 	 EIDX, E_TYPE, E_DRAFTDATE, E_STARTDAY, E_ENDDAY, E_CON, E_TEXTTITLE, E_TEXTCONTENT, E_STATUS, E_APPROVALNOYN, E_APPROVALNOPERSON, E_REASON, TIDX, T_NAME, T_ID, T_DEPARTMENT, T_POSITION,
 		 	TEAMLEADER, SECTIONHEAD, DEPARTMENTHEAD, LEADER, STATUS, DELYN
 				from (
 					select A.*, B.T_NAME, B.T_ID, B.T_DEPARTMENT, B.T_POSITION, C.TEAMLEADER, C.SECTIONHEAD, C.DEPARTMENTHEAD, C.LEADER, C.STATUS,(SELECT @ROWNUM := 1) R
 					FROM ELECTRONIC_APPROVAL A left join AFPS_MEMBER B ON A.TIDX = B.TIDX LEFT JOIN APPROVAL_LINE C on A.EIDX = C.EIDX
 						WHERE 1=1 <include refid="searchWord"/> <include refid="search"/>
 						ORDER BY A.EIDX desc)a WHERE delyn ='N' and EIDX LIMIT #{pageStart},#{perPageNum}
 	</select>
 	<!-- 페이징 end -->
 	
 	<!-- sql code 조각 -->
 	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == '기안부서'.toString()">AND T_DEPARTMENT LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == '기안자이름'.toString()">AND T_NAME LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == '기안일시'.toString()">AND E_DRAFTDATE LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == '결재상태'.toString()">AND E_STATUS LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == '기안 제목'.toString()">AND E_TEXTTITLE LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == '기안내용'.toString()">AND E_TEXTCONTENT LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == '제목+내용'.toString()">AND (E_TEXTTITLE LIKE CONCAT('%',#{keyword},'%')) or (E_TEXTCONTENT LIKE CONCAT('%',#{keyword},'%'))</if>
		</if>
	</sql> 
	<sql id="searchWord">
		<choose>
			<when test="searchWord == null">
				AND ((TEAMLEADER = #{userId} and STATUS = '3000') or (SECTIONHEAD = #{userId} and STATUS = '0300') or (DEPARTMENTHEAD = #{userId} and STATUS = '0030') or (LEADER = #{userId} and STATUS = '0003')) and A.DELYN = 'N'
			</when>
			<otherwise>
				<if test="searchWord == '나의 결재문서'.toString()">AND T_ID = #{userId}</if>
				<if test="searchWord == ''">AND ((TEAMLEADER = #{userId} and STATUS = '3000') or (SECTIONHEAD = #{userId} and STATUS = '0300') or (DEPARTMENTHEAD = #{userId} and STATUS = '0030') or (LEADER = #{userId} and STATUS = '0003')) and A.DELYN = 'N'</if>
			</otherwise>
		</choose>
	</sql>
 </mapper>