<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="tobe.project.mappers.approvalLineMapper">
 	<insert id="writeApprovalLine" parameterType="ApprovalDTO">
 		INSERT INTO 
 			APPROVAL_LINE(EIDX, TEAMLEADER, DEPARTMENTHEAD, SECTIONHEAD, LEADER, STATUS, TIDX)
 		VALUES
 			(#{eidx}+1, #{teamLeader}, #{departmentHead}, #{sectionHead}, #{leader}, #{status}, #{tidx})
 	</insert>
 	<select id="selectOneApprovalLine" resultType="ApprovalDTO" parameterType="ApprovalDTO">
 		select * from APPROVAL_LINE where EIDX = #{eidx}
 	</select> 
 	
 	<!-- 결제 대기 문서 및 예정 문서 -->
 	<select id="totalCountTeamLeaderApprovalToDo" resultType="int" parameterType="ApprovalDTO">
 		SELECT COUNT(EIDX) from APPROVAL_LINE WHERE TEAMLEADER = #{t_id} AND STATUS = '3000'
 	</select>
 	
 	<select id="totalCountDepartmentHeadApprovalToDo" resultType="int" parameterType="ApprovalDTO">
 		SELECT COUNT(EIDX) from APPROVAL_LINE WHERE DEPARTMENTHEAD = #{t_id} AND STATUS = '0300'
 	</select>
 	<select id="totalCountDepartmentHeadApprovalMust" resultType="int" parameterType="ApprovalDTO">
 		SELECT COUNT(EIDX) from APPROVAL_LINE WHERE DEPARTMENTHEAD = #{t_id} AND  STATUS = '3000'
 	</select>
 	
 	<select id="totalCountSectionHeadApprovalToDo" resultType="int" parameterType="ApprovalDTO">
 		SELECT COUNT(EIDX) from APPROVAL_LINE WHERE SECTIONHEAD = #{t_id} AND STATUS = '0030'
 	</select>
 	<select id="totalCountSectionHeadApprovalMust" resultType="int" parameterType="ApprovalDTO">
 		select COUNT(EIDX) from APPROVAL_LINE WHERE SECTIONHEAD = #{t_id} and  STATUS = '3000' or STATUS = '0300'
 	</select>
 	
 	<select id="totalCountLeaderApprovalToDo" resultType="int" parameterType="ApprovalDTO">
 		SELECT COUNT(EIDX) from APPROVAL_LINE WHERE LEADER = #{t_id} AND STATUS = '0003'
 	</select>
 	<select id="totalCountLeaderApprovalMust" resultType="int" parameterType="ApprovalDTO">
 		SELECT COUNT(EIDX) from APPROVAL_LINE WHERE LEADER = #{t_id} AND STATUS = '3000' OR STATUS = '0300' OR STATUS = '0030'
 	</select>
 	
 	
 	<update id="modifyApprovalTeamLeader" parameterType="ApprovalDTO">
 		UPDATE
 			APPROVAL_LINE
 		SET
 			STATUS = '0300'
 		WHERE 
 			EIDX = #{eidx}
 	</update>
 	<update id="modifyApprovalDepartmentHead" parameterType="ApprovalDTO">
 		UPDATE
 			APPROVAL_LINE
 		SET
 			STATUS = '0030'
 		WHERE 
 			EIDX = #{eidx}
 	</update>
 	<update id="modifyApprovalSectionHead" parameterType="ApprovalDTO">
 		UPDATE
 			APPROVAL_LINE
 		SET
 			STATUS = '0003'
 		WHERE 
 			EIDX = #{eidx}
 	</update>
 	<update id="modifyApprovalLeader" parameterType="ApprovalDTO">
 		UPDATE
 			APPROVAL_LINE
 		SET
 			STATUS = '0000'
 		WHERE 
 			EIDX = #{eidx}
 	</update>
 	
 	<update id="modifyApprovalNo" parameterType="ApprovalDTO">
 		UPDATE
 			APPROVAL_LINE
 		SET
 			STATUS = '3333'
 		WHERE 
 			EIDX = #{eidx}
 	</update>
 	<update id="modifyApprovalDocumentAgainLine" parameterType="ApprovalDTO">
 		UPDATE
 			APPROVAL_LINE
 		SET
 			TEAMLEADER = #{teamLeader}, DEPARTMENTHEAD = #{departmentHead}, SECTIONHEAD = #{sectionHead}, LEADER = #{leader}, STATUS = '3000'
 		WHERE 
 			EIDX = #{eidx}
 	</update>
 </mapper>
