<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="tobe.project.mappers.approvalMapper">
 	<resultMap type="ApprovalVO" id="approvalResultMap">
		<id column="EIDX" property="eidx"/>
	    <result column="E_DOCUMENTNUM" property="e_documentNum"/>
	    <result column="E_RULE" property="e_rule"/>
	    <result column="E_DRAFTDATE" property="e_draftDate"/>
	    <result column="E_STARTDAY" property="e_startDay"/>
	    <result column="E_CON" property="e_con"/>
	    <result column="E_SEND" property="e_send"/> 
	    <result column="E_TEXTTITLE" property="e_textTitle"/>
	    <result column="E_TEXTCONTENT" property="e_textContent"/>
	    <result column="E_STATUS" property="e_status"/>
	    <result column="DELYN" property="delyn"/>
	    <result column="TIDX" property="tidx"/>
	    <result column="LIDX" property="lidx"/>
	    <collection property="memberVO" resultMap="MemberResultMap"/>
	    <collection property="approvalLineVO" resultMap="ApprovalLineResultMap"/>
	</resultMap>
	
	<resultMap type="memberVO" id="MemberResultMap">
	    <id column="TIDX" property="tidx"/>
	    <result column="T_NAME" property="t_name"/>
	    <result column="T_DEPARTMENT" property="t_department"/>
	</resultMap>
	
	<resultMap type="approvalLineVO" id="ApprovalLineResultMap">
		<id column="LIDX" property="lidx"/>
		<result column="TEAMLEADER" property="teamLeader"/>
		<result column="DEPARTMENTHEAD" property="departmentHead"/>
		<result column="SECTIONHEAD" property="sectionHead"/>
		<result column="LEADER" property="leader"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<select id="selectOneMember" parameterType="MemberVO" resultType="MemberVO">
 	  	select *
 		from tobe_member
 		where tidx = #{tidx}
    </select>
    
 	<insert id="writeApprovalDocument" parameterType="ApprovalDTO" keyProperty="eidx">
 		<selectKey keyProperty="eidx" resultType="int" order="BEFORE">
				SELECT eidx_SEQ.NEXTVAL FROM DUAL
		</selectKey>
 		INSERT INTO 
 			electronic_approval(EIDX, E_DOCUMENTNUM, E_RULE, E_DRAFTDATE, E_STARTDAY, E_CON, E_SEND, E_TEXTTITLE, E_TEXTCONTENT, TIDX)
 		VALUES
 			(eidx_seq.nextval,eidx_document_seq.nextval, #{e_rule}, #{e_draftDate}, #{e_startDay}, #{e_con}, #{e_send}, #{e_textTitle}, #{e_textContent}, #{tidx})
 	</insert>
 	
 	<select id="selectOneApprovalDocumentContents" resultType="ApprovalVO" parameterType="ApprovalVO">
 		SELECT
 			*
 		FROM
 			ELECTRONIC_APPROVAL
 		WHERE
 			eidx = #{eidx}
 	</select>
 	
 	<update id="deleteApprovalDocument" parameterType="ApprovalVO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			DELYN = 'Y'
 		where
 			eidx = #{eidx}
 	</update>	
 	
 	<update id="modifyApprovalDocument" parameterType="ApprovalVO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			E_RULE = #{e_rule}, E_DRAFTDATE = #{e_draftDate}, E_STARTDAY = #{e_startDay}, E_CON = #{e_con},
 			E_SEND =  #{e_send},E_TEXTTITLE =  #{e_textTitle}, E_TEXTCONTENT = #{e_textContent}
 		where
 			e_documentNum = #{e_documentNum} 			     
 	</update>
 	
 	<!-- 결재상태 업데이트 -->
 	<update id="modifyApprovalStatusProgress" parameterType="ApprovalDTO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			E_STATUS = '결재진행'
 		where
 			eidx = #{eidx} 			     
 	</update>
 	<update id="modifyApprovalStatusOk" parameterType="ApprovalDTO">
 		update 
 			ELECTRONIC_APPROVAL
 		set
 			E_STATUS = '결재완료'
 		where
 			eidx = #{eidx} 			     
 	</update>
    
    
    <!-- 각각 게시글 개수 -->
    <select id="totalCountWaiting" parameterType="ApprovalVO" resultType="int">
    	select count(eidx) from ELECTRONIC_APPROVAL
 			where eidx > 0 and delyn = 'N' and e_status = '결재대기'
    </select> 
    <select id="totalCountProgress" parameterType="ApprovalVO" resultType="int">
    	select count(eidx) from ELECTRONIC_APPROVAL
 			where eidx > 0 and delyn = 'N' and e_status = '결재진행'
    </select>
    <select id="totalCountComplete" parameterType="ApprovalVO" resultType="int">
    	select count(eidx) from ELECTRONIC_APPROVAL
 			where eidx > 0 and delyn = 'N' and e_status = '결재완료'
    </select>
    
 	<!-- 총 게시글 개수 -->
 	<select id="totalCountApprovalDocument" parameterType="tobe.project.domain.SearchCriteria" resultType="int">
 		select count(eidx) from ELECTRONIC_APPROVAL
 			where 1=1 <include refid="search"/>
 				and eidx > 0 and delyn = 'N'
 	</select>
 	
 	<!-- 페이징 -->
 	<select id="selectAllApprovalDocumentList" resultMap="approvalResultMap" parameterType="tobe.project.domain.SearchCriteria">
 		 select EIDX, E_DOCUMENTNUM, E_RULE, E_DRAFTDATE, E_STARTDAY, E_CON, E_SEND, E_TEXTTITLE, E_TEXTCONTENT, E_STATUS, TIDX, T_NAME, T_DEPARTMENT, STATUS, DELYN
 			from (
 				select A.*,B.T_NAME, T_DEPARTMENT,C.STATUS, ROW_NUMBER() OVER(ORDER BY A.EIDX DESC) AS RNUM
 				FROM ELECTRONIC_APPROVAL A left join TOBE_MEMBER B ON A.TIDX = B.TIDX LEFT JOIN APPROVAL_LINE C on A.EIDX = C.EIDX
 					WHERE 1=1 <include refid="search"/>  and A.DELYN = 'N'
 					) WHERE delyn ='N' and RNUM BETWEEN #{rowStart} and #{rowEnd}
 	</select>
 	<!-- 페이징 end -->
 	
 	<!-- sql code 조각 -->
 	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == '결재대기'.toString()">AND E_STATUS = '결재대기'</if>
			<if test="searchType == '결재진행'.toString()">AND E_STATUS = '결재진행'</if>
			<if test="searchType == '결재완료'.toString()">AND E_STATUS = '결재완료'</if>
			<if test="searchType == '문서번호'.toString()">AND E_DOCUMENTNUM LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == '기안제목'.toString()">AND E_TEXTTITLE LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql> 
 </mapper>