<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.boardMapper">

	<resultMap id="selectAllBoardVO" type="boardVO">
		<id column="BIDX" property="bidx" />
		<result column="B_TYPE" property="b_type" />
		<result column="B_TITLE" property="b_title" />
		<result column="B_CONTENT" property="b_content" />
		<result column="B_WRITEDATE" property="b_writedate" />
		<result column="B_HIT" property="b_hit" />
		<result column="DELYN" property="delyn" />
		<result column="TIDX" property="tidx" />
		<association property="memberVO"
			resultMap="memberResultMap" />
	</resultMap>

	<resultMap type="memberVO" id="memberResultMap">
		<id column="TIDX" property="tidx" />
		<result column="T_NAME" property="t_name" />
	</resultMap>

	<!-- 게시판 전체 조회() -->
	<select id="selectAllBoard" resultMap="selectAllBoardVO">
		select a.*, m.t_name
		from
		((select * 
		from board
		where b_type='N'
		order by bidx desc limit 0,3)
		union all
		(select *
		from board
		where b_type='G'
		order by bidx desc limit #{rowStartBoard},#{pageNumBoard}
		))as a
		inner join afps_member as m on a.tidx = m.tidx
		where a.delyn='N'
	</select>

	<!-- 게시판 검색 -->
	<select id="selectSearch" resultMap="selectAllBoardVO">
		select b.*, m.t_name
		from board as b
		inner join afps_member as m on b.tidx = m.tidx
		where b.delyn = 'N' <include refid="search"></include>
		order by b.b_type desc, b.bidx desc limit #{pageStart},10
	</select>

	<!-- 페이징 -->
	<select id="totalCount" resultType="int">
		select count(b.bidx)
		from board as b
		where 1=1
		<include refid="search"></include>
		and b.bidx > 0 and b.delyn='N'
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'w'.toString()">
				AND b.tidx IN
				(
				select m.tidx
			    from afps_member as m
			    where 1=1
			    and m.t_name like concat('%',#{keyword},'%')
			    and m.delyn='N'
				)
			</if>
			<if test="searchType == 't'.toString()">AND b.B_TITLE LIKE concat('%',#{keyword},'%')</if>
			<if test="searchType == 'c'.toString()">AND b.B_CONTENT LIKE concat('%',#{keyword},'%')</if>
			<if test="searchType == 'n'.toString()">AND b.B_TYPE = 'N'</if>
			<if test="searchType == 'g'.toString()">AND b.B_TYPE = 'G'</if>
		</if>
	</sql>

	<!-- 게시글 상세 조회 -->
	<select id="selectOneBoard" resultMap="selectAllBoardVO">
		select b.*, m.t_name
		from board as b
		inner join afps_member as m on b.tidx = m.tidx
		where bidx=#{bidx}
	</select>
	
	<!-- 메인 페이지용 공지사항 -->
	<select id="selectNotice" resultMap="selectAllBoardVO" parameterType="hashMap">
		select a.*, m.t_name 
		from
		(select *
		from board as b
		order by b.b_type desc, b.bidx desc limit 0,12
		)as a
		inner join afps_member as m on a.tidx = m.tidx
		where a.delyn='N' and a.b_writedate between date_format(#{search1}, '%y-%m-%d') and date_format(#{search2}, '%y-%m-%d')
	</select>

	<!-- 조회수 업 -->
	<update id="hitBoard">
		UPDATE BOARD
		SET
		B_HIT = B_HIT+1
		WHERE BIDX = #{bidx}
	</update>

	<!-- 게시글 작성 -->
	<insert id="writeBoard" parameterType="boardVO"
		useGeneratedKeys="true" keyProperty="bidx">
		INSERT INTO BOARD(
		B_TYPE,
		B_TITLE,
		B_CONTENT,
		B_WRITEDATE,
		B_HIT,
		DELYN,
		TIDX
		) VALUES(
		#{b_type},
		#{b_title},
		#{b_content},
		now(),
		0,
		'N',
		#{tidx}
		)
	</insert>
	<insert id="insertFile" parameterType="hashMap">
		INSERT INTO FILE_INFO(
		F_TYPE,
		F_ORG_FILE_NAME,
		F_STORED_FILE_NAME,
		F_FILE_SIZE,
		DELYN,
		BIDX
		)VALUES(
		#{F_TYPE},
		#{ORG_FILE_NAME},
		#{STORED_FILE_NAME},
		#{FILE_SIZE},
		'N',
		#{bidx}
		)
	</insert>

	<update id="modifyBoard">
		UPDATE BOARD SET
		B_TITLE = #{b_title},
		B_CONTENT = #{b_content}
		WHERE BIDX = #{bidx}
	</update>
	<update id="modifyFile">
		UPDATE FILE_INFO SET
		DELYN = 'Y'
		WHERE FIDX = #{FIDX}
	</update>

	<update id="deleteBoard">
		UPDATE BOARD SET
		DELYN = 'Y'
		WHERE BIDX = #{bidx}
	</update>
</mapper>
