<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis/org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.commuteMapper">
	
	<!-- 출근시간 등록 -->
	<insert id="addStartWork">
		insert into commute_management (
			cidx,
			c_type,
			c_date,
			c_starttime,
			tidx
		)values(
			cidx_seq.nextval,
			#{c_type},
			#{c_date},
			#{c_starttime},
			#{tidx}
		)
	</insert>
	
	<!-- 퇴근시간 등록 -->
	<update id="addEndWork">
		<!-- UPDATE COMMUTE_MANAGEMENT SET C_ENDTIME = #{C_ENDTIME}, C_WORKTIME = #{C_WORKTIME}, C_TOTLALWORKTIME = #{C_TOTLALWORKTIME}
		WHERE CIDX = #{CIDX} -->
		update commute_management set c_endtime = #{c_endtime}, c_worktime = #{c_worktime} 
		where rownum = 1 and tidx = #{tidx}
	</update>
	
	<!-- 근태목록 조회 -->
	<select id="selectAllCommute" resultType="commuteVO">
		select * from commute_management where tidx = #{tidx} order by cidx desc
	</select>
	
	<!-- 근태목록 조회 테스트-->
	<select id="selectAllCommute2" resultType="commuteVO" parameterType="Map">
		select * from commute_management where c_date like '%' || #{month} || '%' and tidx = #{tidx} order by cidx desc
	</select>
	
	<!-- 출근기록 조회 -->
	<select id="selectStartWork" resultType="String">
		select c_starttime from (
			select * from commute_management 
			order by rownum desc
			)where rownum = 1 and tidx = #{tidx} and to_char(sysdate, 'YY/MM/DD') = c_date
	</select>
	
	<!-- 퇴근기록 조회 -->
	<select id="selectEndWork" resultType="String">
		select c_endtime from (
			select * from commute_management 
			order by rownum desc
			)where rownum = 1 and tidx = #{tidx} and to_char(sysdate, 'YY/MM/DD') = c_date
	</select>
</mapper>	