<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.dataMapper">
	<resultMap id="selectAllDataVO" type="dataVO">
		<id column="DIDX" property="didx"/>
		<result column="D_TITLE" property="d_title"/>
		<result column="D_WRITEDATE" property="d_writedate"/>
		<result column="D_DOWNLOAD" property="d_download"/>
		<result column="DELYN" property="delyn"/>
		<result column="TIDX" property="tidx"/>
		<association property="memberVO" resultMap="memberResultMap"></association>
	</resultMap>
	
	<resultMap type="memberVO" id="memberResultMap">
		<id column="TIDX" property="tidx" />
		<result column="T_NAME" property="t_name" />
	</resultMap>
	
	<select id="selectAllData" resultMap="selectAllDataVO">
		SELECT * 
        FROM (
		        SELECT DATA_LIBRARY.DIDX,
                        DATA_LIBRARY.D_TITLE,
                        DATA_LIBRARY.D_WRITEDATE,
                        DATA_LIBRARY.D_DOWNLOAD,
                        DATA_LIBRARY.DELYN,
                        DATA_LIBRARY.TIDX,
                        TOBE_MEMBER.T_NAME,
		               ROW_NUMBER() OVER(ORDER BY DIDX DESC) AS RNUM
		         FROM data_library, tobe_member
		         WHERE 1=1 <include refid="search"></include> AND data_library.delyn='N' and data_library.tidx = tobe_member.tidx
		      )
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd} 
		ORDER BY DIDX DESC	
	</select>
	
	<select id="dataCount" resultType="int">
		SELECT COUNT(DATA_LIBRARY.DIDX)
			FROM DATA_LIBRARY
			WHERE 1=1
			<include refid="search"></include>
		 	AND DATA_LIBRARY.DIDX > 0 AND DATA_LIBRARY.DELYN='N'
	</select>
	
	<sql id="search">
    	<if test="searchType != null">
    		<if test="searchType == 'w'.toString()">
    			AND DATA_LIBRARY.TIDX IN
    			(
	    			SELECT TOBE_MEMBER.TIDX
		            FROM TOBE_MEMBER
		            WHERE 1=1
		            AND TOBE_MEMBER.T_NAME LIKE '%' || #{keyword} || '%'
	           		AND TOBE_MEMBER.DELYN='N'
	           	) 
    		</if>
    		<if test="searchType == 't'.toString()">AND D_TITLE LIKE '%' || #{keyword} || '%'</if>
    	</if>
    </sql>
    
    <!-- 다운로드수 업 -->
    <update id="hitData">
    	UPDATE DATA_LIBRARY
    	SET
    		D_DOWNLOAD = D_DOWNLOAD+1
    	WHERE DIDX = #{didx}
    </update>
	
	<!-- 데이터 업로드 -->
	<insert id="addData" parameterType="dataVO" useGeneratedKeys="true" keyProperty="didx">
	    <selectKey keyProperty="didx" resultType="int" order="BEFORE">
	    	SELECT DIDX_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO DATA_LIBRARY(    
	    	DIDX,
			D_TITLE,
			D_WRITEDATE,
			D_DOWNLOAD,
			DELYN,
			TIDX
		) VALUES(
			#{didx}, 
		    #{d_title}, 
		    sysdate, 
		    0, 
		    'N',
		    1
		)
    </insert>
    <insert id="insertFile" parameterType="hashMap">
    	INSERT INTO FILE_INFOTEST(
    		FIDX,
			TIDX,
			F_TYPE,
			F_ORG_FILE_NAME,
			F_STORED_FILE_NAME,
			F_FILE_SIZE,
			DELYN,
			DIDX
    	)VALUES(
    		F_FILE_SEQ.NEXTVAL,
    		1,
    		#{F_TYPE},
    		#{ORG_FILE_NAME},
    		#{STORED_FILE_NAME},
    		#{FILE_SIZE},
    		'N',
    		#{didx}
    	)
    </insert>
</mapper>