<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.emailMapper">
	<insert id="writeEmail" parameterType="emailVO">
		insert into manager_email(midx,m_addressee,m_senddate,m_title,m_content,tidx,m_type)
		values(midx_seq.nextval,#{m_addressee},sysdate,#{m_title},#{m_content},#{tidx},#{m_type})
	</insert>
	<select id="totalCountEmail" parameterType="hashmap" resultType="int">
		select count(*) as cnt from manager_email where delyn = 'N' and m_title like '%'||#{keyword}||'%'
	</select>
	<select id="searchEmailList" resultType="emailDTO">
		select * from (select row_number() over (PARTITION BY A.DELYN order by midx desc)num,
		A.*,B.T_NAME,B.T_DEPARTMENT,B.T_POSITION from manager_email A LEFT JOIN AFPS_MEMBER B ON A.TIDX = B.TIDX where 1=1
		<include refid="search"/>
		order by midx desc)
		where delyn = 'N' and num between #{rowStart} and #{rowEnd}
	</select>
	<select id="totalCountsearchEmail" resultType="int">
		<![CDATA[
			select count(midx)
			from manager_email A LEFT JOIN AFPS_MEMBER B ON A.TIDX = B.TIDX
			where A.delyn = 'N'
		]]>
		<include refid="search"/>
	</select>
	<select id="selectOneEmail" resultType="emailDTO">
		SELECT A.*,B.T_NAME,B.T_DEPARTMENT,B.T_POSITION FROM MANAGER_EMAIL A INNER JOIN AFPS_MEMBER B ON A.TIDX = B.TIDX
		WHERE A.MIDX = #{midx} AND A.DELYN = 'N'
	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and A.m_title like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				and A.m_content like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
			  AND B.T_NAME LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>
	<select id="searchMember" resultType="int">
		SELECT TIDX FROM AFPS_MEMBER WHERE T_NAME = #{t_name} AND T_EMAIL = #{m_addressee} AND T_DEPARTMENT = #{t_department} AND T_POSITION = #{t_position}
	</select>
	<update id="deleteEmail" parameterType="int">
		UPDATE MANAGER_EMAIL SET DELYN = 'Y' WHERE MIDX = #{midx}
	</update>
</mapper>