<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.fileInfoMapper">
	
	<!-- bidx를 통한 파일 조회 -->
	<select id="selectAllFileBidx" parameterType="int" resultType="hashMap">
    	SELECT 
    		FIDX,
    		F_ORG_FILE_NAME,
    		ROUND(F_FILE_SIZE/1024, 1) AS F_FILE_SIZE,
    		F_TYPE,
    		F_STORED_FILE_NAME
    	FROM FILE_INFOTEST
    	WHERE BIDX = #{bidx} AND DELYN = 'N'
    	ORDER BY FIDX ASC
    </select>
    
    <!-- didx를 통한 파일 조회 -->
	<select id="selectAllFileDidx" parameterType="int" resultType="hashMap">
    	SELECT 
    		FIDX,
    		F_ORG_FILE_NAME,
    		ROUND(F_FILE_SIZE/1024, 1) AS F_FILE_SIZE,
    		F_TYPE,
    		F_STORED_FILE_NAME
    	FROM FILE_INFOTEST
    	WHERE DIDX = #{didx} AND DELYN = 'N'
    </select>
    
    <!-- 자료실 데이터 삭제 -->
    <update id="deleteFileDidx" parameterType="int">
    	UPDATE FILE_INFOTEST
    	SET
    		DELYN = 'Y'
    	WHERE DIDX = #{didx}
    </update>
    
    <select id="selectOneFile" parameterType="hashMap" resultType="hashMap">
    	SELECT
    		F_STORED_FILE_NAME,
    		F_ORG_FILE_NAME
    	FROM FILE_INFOTEST
    	WHERE FIDX = #{FIDX}
    </select>
    
    <select id="selectFileTidx" parameterType="hashMap" resultType="hashMap">
    	SELECT
    		F_STORED_FILE_NAME
    	FROM FILE_INFOTEST
    	WHERE TIDX = #{tidx} AND F_TYPE = 'profile'
    </select>
    
    <update id="modifyFile" parameterType="hashMap">
    	UPDATE FILE_INFOTEST
    	SET DELYN = 'Y'
    	WHERE FIDX = #{FIDX} 
    </update>
</mapper>