<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.memberFileMapper">
	<!-- 파일리스트 -->
	<select id="selectAllFile" resultType="fileVO">
		SELECT * FROM FILE_INFOTEST
		WHERE DELYN = 'N'
	</select>
	<!-- 첨부파일추가 -->
	<insert id="addFile">
		INSERT MEMBER_FILE(
			FULLNAME,
			TIDX
		)VALUES(
			#{fullname},
			#{tidx}
		)
	</insert>
	<!-- 첨부파일조회 -->
	<select id="selectListFile" resultType="String">
		SELECT
			FULLNAME
		FROM MEMBER_FILE
		WHERE TIDX = #{tidx}
		ORDER BY REG_DATE
	</select>
	<!-- 첨부파일수정 -->
	<insert id="modifyFile">
		INSERT INTO MEMBER_FILE(
			FULLNAME,
			TIDX
		)VALUES(
			#{fullname},
			#{tidx}
		)
	</insert>
	<!-- 첨부파일삭제 -->
	<delete id="deleteFile">
		DELETE FROM MEMBER_FILE
		WHERE FULLNAME = #{fullname}
	</delete>
	<!-- <insert id="create" useGeneratedKeys="true" keyProperty="article_no"> INSERT INTO tb_article ( title , content , writer , file_cnt ) VALUES ( #{title} , #{content} , #{writer} , #{fileCnt} ) </insert> -->
</mapper>