<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.myMapper">
	<resultMap id="selectAllBoardVO" type="boardVO">
		<id column="BIDX" property="bidx" />
		<result column="B_TYPE" property="b_type" />
		<result column="B_TITLE" property="b_title" />
		<result column="B_CONTENT" property="b_content" />
		<result column="B_WRITEDATE" property="b_writedate" />
		<result column="B_HIT" property="b_hit" />
		<result column="DELYN" property="delyn" />
		<result column="TIDX" property="tidx" />
		<association property="memberVO"
			resultMap="memberResultMap" />
	</resultMap>
	<resultMap type="scheduleVO" id="ScheduleResultMap">
		<id column="SIDX" property="sidx"/>
	    <result column="S_TYPE" property="s_type"/>
	    <result column="S_TITLE" property="s_title"/>
	    <result column="S_STARTDATE" property="s_startDate"/>
	    <result column="S_ENDDATE" property="s_endDate"/>
	    <result column="S_CONTENT" property="s_content"/>
	    <result column="DELYN" property="delYn"/> 
	    <result column="TIDX" property="tidx"/>
	    <collection property="memberVO" resultMap="memberResultMap"/>
	</resultMap>
	<resultMap type="memberVO" id="memberResultMap">
		<id column="TIDX" property="tidx" />
		<result column="T_NAME" property="t_name" />
	</resultMap>
	<select id="totalCountEmail" resultType="int">
		SELECT COUNT(MIDX)
		FROM MANAGER_EMAIL A LEFT JOIN TOBE_MEMBER B ON A.TIDX = B.TIDX
		WHERE A.DELYN = 'N' AND A.TIDX = #{userIdx}
	</select>
	<select id="searchEmailList" resultType="emailDTO">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (PARTITION BY A.DELYN ORDER BY MIDX DESC)NUM,
		A.*,B.T_NAME,B.T_DEPARTMENT,B.T_POSITION FROM MANAGER_EMAIL A LEFT JOIN TOBE_MEMBER B ON A.TIDX = B.TIDX WHERE 1=1
		AND A.TIDX = #{userIdx}
		ORDER BY MIDX DESC)
		WHERE DELYN = 'N' AND NUM BETWEEN #{rowStart} and #{rowEnd}
	</select>
	
	<select id="totalCountBoard" resultType="int">
		SELECT COUNT(BIDX)
		FROM BOARD
		WHERE BIDX > 0 AND DELYN= 'N' AND TIDX = #{userIdx}
	</select>
	<select id="selectAllBoard" resultMap="selectAllBoardVO">
		SELECT *
		FROM (
		SELECT BOARD.BIDX,
		BOARD.B_TYPE,
		BOARD.B_TITLE,
		BOARD.B_CONTENT,
		BOARD.B_WRITEDATE,
		BOARD.B_HIT,
		BOARD.DELYN,
		BOARD.TIDX,
		TOBE_MEMBER.T_NAME,
		ROW_NUMBER() OVER(ORDER BY BOARD.B_TYPE DESC, BIDX DESC) AS RNUM
		FROM BOARD, TOBE_MEMBER
		WHERE 1=1
		AND BOARD.TIDX = #{userIdx}
		AND BOARD.DELYN='N' AND BOARD.TIDX = TOBE_MEMBER.TIDX
		)
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY B_TYPE DESC, BIDX DESC
	</select>
	<select id="totalCountLeave" resultType="int">
		SELECT COUNT(EIDX)
		FROM ANNUAL_LEAVE
		WHERE EIDX > 0 AND TIDX = #{userIdx}
	</select>
	<select id="selectAllLeave" resultType="LeaveDTO">
		SELECT A.*,C.* FROM (SELECT ROW_NUMBER() OVER (ORDER BY EIDX DESC)NUM,
		A.*,B.T_LEAVE_GET FROM ANNUAL_LEAVE A LEFT JOIN TOBE_MEMBER B ON A.TIDX = B.TIDX
		WHERE A.TIDX = #{userIdx} ORDER BY EIDX DESC) A JOIN ELECTRONIC_APPROVAL C ON A.EIDX = C.EIDX
		WHERE NUM BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	<select id="totalCountSchedule" resultType="int">
		SELECT COUNT(SIDX) 
			FROM (
		SELECT A.*, B.T_NAME, T_ID, ROW_NUMBER() OVER(ORDER BY SIDX DESC) AS RNUM
		FROM SCHEDULE_MANAGEMENT A LEFT JOIN TOBE_MEMBER B ON A.TIDX = B.TIDX WHERE A.TIDX = #{userIdx} 
		AND A.DELYN = 'N') WHERE DELYN = 'N'
	</select>
	<select id="selectAllSchedule" resultMap="ScheduleResultMap">
		select SIDX, S_TYPE, S_TITLE, S_STARTDATE, S_ENDDATE, S_CONTENT, DELYN, TIDX, T_NAME, T_ID
		from (
		SELECT A.*, B.T_NAME, T_ID, ROW_NUMBER() OVER(ORDER BY SIDX DESC) AS RNUM
		FROM SCHEDULE_MANAGEMENT A LEFT JOIN TOBE_MEMBER B ON A.TIDX = B.TIDX WHERE A.TIDX = #{userIdx} 
		AND A.DELYN = 'N') WHERE DELYN ='N' AND RNUM BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	<insert id="writeApproval" keyProperty="eidx">
		<selectKey keyProperty="eidx" resultType="int" order="BEFORE">
				SELECT EIDX_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ELECTRONIC_APPROVAL(EIDX, E_DOCUMENTNUM, E_RULE, E_DRAFTDATE, E_STARTDAY, E_CON, E_SEND, E_TEXTTITLE, E_TEXTCONTENT, TIDX)
			VALUES(
				EIDX_SEQ.NEXTVAL,
				EIDX_DOCUMENT_SEQ.NEXTVAL,
				#{e_type},
				#{e_draftdate},
				#{e_startday},
				#{e_con},
				#{e_send},
				#{e_texttitle},
				#{e_textcontent},
				#{tidx}
			)
	</insert>
	<insert id="writeLeave"  keyProperty="eidx">
		INSERT INTO ANNUAL_LEAVE(EIDX,A_TYPE,A_STARTDATE,A_ENDDATE,A_USEDDAYS,TIDX)
		VALUES(
			#{eidx}+1,
			#{a_type},
			#{a_startdate},
			#{a_enddate},
			#{a_useddays},
			#{tidx}
		) 
	</insert>
	<insert id="writeLine"  keyProperty="eidx">
		INSERT INTO APPROVAL_LINE(EIDX,TEAMLEADER,DEPARTMENTHEAD,SECTIONHEAD,LEADER,STATUS,TIDX)
			VALUES(
				#{eidx}+1,
				#{teamleader},
				#{departmenthead},
				#{sectionhead},
				#{leader},
				#{status},
				#{tidx}
			)
	</insert>
	<update id="updateLeave">
		UPDATE TOBE_MEMBER SET T_LEAVE_GET = #{a_useddays} WHERE TIDX = #{tidx}
	</update>
	<select id="selectOneLeave" resultType="leaveDTO">
		SELECT A.*,B.*,C.* FROM ELECTRONIC_APPROVAL A 
		LEFT JOIN APPROVAL_LINE B ON A.EIDX = B.EIDX 
		INNER JOIN ANNUAL_LEAVE C ON A.EIDX = C.EIDX 
		WHERE DELYN = 'N' 
		AND A.EIDX = #{eidx}
	</select>
</mapper>