<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tobe.project.mapper.myMapper">
	<resultMap id="selectAllBoardVO" type="boardVO">
		<id column="BIDX" property="bidx" />
		<result column="B_TYPE" property="b_type" />
		<result column="B_TITLE" property="b_title" />
		<result column="B_CONTENT" property="b_content" />
		<result column="B_WRITEDATE" property="b_writedate" />
		<result column="B_HIT" property="b_hit" />
		<result column="DELYN" property="delyn" />
		<result column="TIDX" property="tidx" />
		<association property="memberVO"
			resultMap="memberResultMap" />
	</resultMap>
	<resultMap type="scheduleVO" id="ScheduleResultMap">
		<id column="SIDX" property="sidx"/>
	    <result column="S_TYPE" property="s_type"/>
	    <result column="S_TITLE" property="s_title"/>
	    <result column="S_STARTDATE" property="s_startDate"/>
	    <result column="S_ENDDATE" property="s_endDate"/>
	    <result column="S_CONTENT" property="s_content"/>
	    <result column="DELYN" property="delYn"/> 
	    <result column="TIDX" property="tidx"/>
	    <collection property="memberVO" resultMap="memberResultMap"/>
	</resultMap>
	<resultMap type="memberVO" id="memberResultMap">
		<id column="TIDX" property="tidx" />
		<result column="T_NAME" property="t_name" />
	</resultMap>
	<select id="searchEmailList" resultType="emailDTO">
		SELECT * FROM MANAGER_EMAIL A LEFT JOIN AFPS_MEMBER B ON A.TIDX = B.TIDX
		WHERE A.TIDX = #{userIdx} AND A.DELYN = 'N' ORDER BY A.MIDX DESC
	</select>
	<select id="selectAllBoard" resultMap="selectAllBoardVO">
		SELECT * FROM BOARD A LEFT JOIN AFPS_MEMBER B ON A.TIDX = B.TIDX
		WHERE A.TIDX = #{userIdx} AND A.DELYN = 'N' ORDER BY A.BIDX DESC
	</select>
	<select id="selectAllLeave2" resultType="LeaveDTO">
		SELECT A.*,C.* FROM (SELECT A.* FROM ANNUAL_LEAVE A
		LEFT JOIN AFPS_MEMBER B ON A.TIDX = B.TIDX ORDER BY EIDX DESC) A JOIN ELECTRONIC_APPROVAL C ON A.EIDX = C.EIDX
		WHERE C.DELYN = 'N'
	</select>
	<select id="selectAllLeave" resultType="LeaveDTO">
		SELECT * FROM ANNUAL_LEAVE A LEFT JOIN AFPS_MEMBER B ON A.TIDX = B.TIDX 
		JOIN ELECTRONIC_APPROVAL C ON A.EIDX = C.EIDX
		WHERE A.TIDX = #{userIdx} AND C.DELYN = 'N' ORDER BY A.EIDX DESC
	</select>
	<select id="selectAllSchedule" resultMap="ScheduleResultMap">
		SELECT * FROM SCHEDULE_MANAGEMENT A LEFT JOIN AFPS_MEMBER B ON A.TIDX = B.TIDX
		WHERE A.TIDX = #{userIdx} AND A.DELYN = 'N' ORDER BY A.SIDX DESC
	</select>
	<insert id="writeApproval" keyProperty="eidx">
		<selectKey keyProperty="eidx" resultType="int" order="BEFORE">
				SELECT AUTO_INCREMENT FROM INFORMATION_SCHEMA.TABLES
				WHERE TABLE_SCHEMA = 'EZEN20210719_A' AND TABLE_NAME = 'ELECTRONIC_APPROVAL'
		</selectKey>
		INSERT INTO ELECTRONIC_APPROVAL(E_TYPE,E_DRAFTDATE,E_STARTDAY,E_ENDDAY,E_CON,E_TEXTTITLE,E_TEXTCONTENT,TIDX)
			VALUES(
				#{e_type},
				#{e_draftdate},
				#{e_startday},
				#{e_endday},
				#{e_con},
				#{e_texttitle},
				#{e_textcontent},
				#{tidx}
			)
	</insert>
	<insert id="writeLeave"  keyProperty="eidx">
		INSERT INTO ANNUAL_LEAVE(EIDX,A_TYPE,FRIEND_PHONE,FRIEND_NAME,A_USEDDAYS,TIDX)
		VALUES(
			#{eidx},
			#{a_type},
			#{friend_phone},
			#{friend_name},
			#{a_useddays},
			#{tidx}
		) 
	</insert>
	<insert id="writeLine"  keyProperty="eidx">
		INSERT INTO APPROVAL_LINE(EIDX,TEAMLEADER,SECTIONHEAD,DEPARTMENTHEAD,LEADER,STATUS,TIDX)
			VALUES(
				#{eidx},
				#{teamleader},
				#{sectionhead},
				#{departmenthead},
				#{leader},
				#{status},
				#{tidx}
			)
	</insert>
	<update id="updateLeave">
		UPDATE AFPS_MEMBER SET T_LEAVE_GET = #{a_useddays} WHERE TIDX = #{tidx}
	</update>
	<select id="selectOneLeave" resultType="leaveDTO">
		SELECT A.*,B.*,C.* FROM ELECTRONIC_APPROVAL A 
		LEFT JOIN APPROVAL_LINE B ON A.EIDX = B.EIDX 
		INNER JOIN ANNUAL_LEAVE C ON A.EIDX = C.EIDX 
		WHERE DELYN = 'N' 
		AND A.EIDX = #{eidx}
	</select>
	<update id="leaveDelete">
		UPDATE ELECTRONIC_APPROVAL SET DELYN = 'Y' WHERE EIDX = #{eidx}
	</update>
	<update id="modifyApproval">
		UPDATE ELECTRONIC_APPROVAL
		SET E_TYPE = #{e_type},
		E_STARTDAY = #{e_startday},
		E_ENDDAY = #{e_endday},
		E_CON = #{e_con},
		E_TEXTTITLE = #{e_texttitle},
		E_TEXTCONTENT = #{e_textcontent}
		WHERE EIDX = #{eidx}
	</update>
	<update id="modifyReApproval">
		UPDATE ELECTRONIC_APPROVAL
		SET E_TYPE = #{e_type},
		E_STATUS = '결재대기',
		E_STARTDAY = #{e_startday},
		E_ENDDAY = #{e_endday},
		E_CON = #{e_con},
		E_TEXTTITLE = #{e_texttitle},
		E_TEXTCONTENT = #{e_textcontent},
		E_APPROVALNOPERSON = '',
		E_REASON = '',
		E_APPROVALNOYN = 'N'		
		WHERE EIDX = #{eidx}
	</update>
	<update id="modifyLine">
		UPDATE APPROVAL_LINE
		SET TEAMLEADER = #{teamleader},
		SECTIONHEAD = #{sectionhead},
		DEPARTMENTHEAD = #{departmenthead}	
		WHERE EIDX = #{eidx}
	</update>
	<update id="modifyReLine">
		UPDATE APPROVAL_LINE
		SET TEAMLEADER = #{teamleader},
		SECTIONHEAD = #{sectionhead},
		DEPARTMENTHEAD = #{departmenthead},
		STATUS = #{status}	
		WHERE EIDX = #{eidx}
	</update>
	<update id="modifyLeave">
		UPDATE ANNUAL_LEAVE
		SET A_TYPE = #{a_type},
		FRIEND_PHONE = #{friend_phone},
		FRIEND_NAME = #{friend_name},
		A_USEDDAYS = #{a_useddays}
		WHERE EIDX = #{eidx}
	</update>
	<update id="leaveNo">
		UPDATE ELECTRONIC_APPROVAL
		SET E_APPROVALNOYN = 'Y',
		E_APPROVALNOPERSON = #{e_approvalNoPerson},
		E_APPROVALNODAY = now(),
		E_REASON = #{e_reason},
		E_STATUS = '결재반려'
		WHERE EIDX = #{eidx}
	</update>
	<update id="updateLine">
		UPDATE APPROVAL_LINE
		SET STATUS = '3333'
		WHERE EIDX = #{eidx}
	</update>
</mapper>